@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet map styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text;
  }

  .mapboxgl-map {
    @apply rounded-md overflow-hidden;
  }
}
